{% extends 'core/base.html' %}

{% block contenido %}
<div class="b-example-divider"></div>
<div class="card">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
        <h1 class="h6 mb-0 text-white lh-1">Listado productos</h1>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <th>Producto</th>
                <th>Stock</th>
                <th>Cod. producto</th>
                <th>Categoria</th>
                <th>Descripcion</th>
                <th>Accion</th>

            </tr>
            {% for p in producto %}
            <tr>
                <td>{{ p.nombre }}</td>
                <td>{{ p.stock }}</td>
                <td>{{ p.cod_producto }}</td>
                <td>{{ p.categoria }}</td>
                <td>{{ p.descripcion}}</td>
                

                <td>
                    <a href="{% url 'modificarproductos' p.id %}">Modificar</a>
                    <a href="{% url 'eliminar_producto' p.id %}">Eliminar</a>
                </td>

            </tr>
            {% endfor%}
        </table>
    </div>
</div>
{% endblock %}