{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

{% if form.errors %}
<p>Hay un error en el formulario</p>

{% endif %}

<head>
    <title>Registro | PlantAYUDA</title>
    <link rel="icon" type="image/x-icon" href="imagen/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'core/' %}css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{% static 'core/' %}js/bootstrap.bundle.min.js" type="text/css">
</head>

<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-img-left d-none d-md-flex">
            </div>
            <div class="card-body p-4 p-sm-5">
              {% load crispy_forms_tags %}
              <h3 class="card-title text-center mb-5 fw-light fs-5">Registro de Usuario</h3>
              <form action="{% url 'registro' %}" method="post">
                  {% csrf_token %}
                  {{ form|crispy }}

                <div class="d-grid mb-2">
                  <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Registro</button>
                </div>
                <a class="d-block text-center mt-2 small" href="{% url 'login' %}">¿Ya tienes una cuenta? Entra Aquí</a>
                <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  {% endblock contenido  %}