<html id="fondo">
    <html lang="en">
        <head>
            <!--Meta Tags-->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>PLANTAYUDA</title>

            {% load static %}
            <link rel="icon" type="image/x-icon" href="{% static 'core/' %}imagen/favicon.ico">
            <!--CSS-->
            <link rel="stylesheet" href="{% static 'core/' %}css/bootstrap.min.css" type="text/css">
            <link rel="stylesheet" href="{% static 'core/' %}js/bootstrap.bundle.min.js" type="text/css">
            <link rel="stylesheet" href="{% static 'core/' %}css/estilo.css" type="text/css">
            <link rel="stylesheet" href="{% static 'core/' %}css/estilosidebar.css" type="text/css">
            <link rel="stylesheet" href="{% static 'core/' %}css/carrusel.css" type="text/css">
            <style>
                .bd-placeholder-img {
                  font-size: 1.125rem;
                  text-anchor: middle;
                  -webkit-user-select: none;
                  -moz-user-select: none;
                  user-select: none;
                }
          
                @media (min-width: 768px) {
                  .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                  }
                }
            </style>

             <link href="{% static 'core/' %}css/offcanvas.css" rel="stylesheet">
        </head>
        <body class="bg-light">
            
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'core/' %}imagen/ICONO.png" height="40">PlantAYUDA</a>
            <button class="navbar-toggler" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Quienes Somos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="{% url 'productos' %}" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a href="{% url 'jardineria' %}" class="dropdown-item">JARDINERIA</a></li>
                            <li><a href="{% url 'flores' %}" class="dropdown-item">FLORES</a></li>
                            <li><a href="{% url 'macetero' %}" class="dropdown-item">MACETEROS</a></li>
                            <li><a href="{% url 'arbustos' %}" class="dropdown-item">ARBUSTOS</a></li>
                            <li><a href="{% url 'tierrahoja' %}" class="dropdown-item">TIERRA DE HOJA</a></li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <div class="navbar-collapse offcanvas-collapse" id="#navbarSideCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">
                                    CARRO COMPRAS
                                </a>
                            </li>
                            </li>
                            <li class="nav-item">
                                    {% if user.is_authenticated %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarSupportedContent" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuario: {{user.username}} </a>                    
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a href="{% url 'logout' %}" class="dropdown-item">Cerrar Sesión</a></li>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="btn btn-lg btn-primary btn-sm" href="{% url 'login' %}">Inicia Sesión</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="btn btn-lg btn-primary btn-sm" href="{% url 'registro' %}">Unete</a>
                                        </li>
                                    {% endif %}
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
            <div id="principal">
                {% block contenido  %}

                {% endblock contenido  %}

             <!-- footer -->
            </div>
            <div class="a-example-divider"></div>
            <div class="menu-footer-menu-container">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                    <div class="col-md-4 d-flex align-items-center">
                        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                            <img src="{% static 'core/' %}imagen/ICONO.png" class="bi" width="30" height="24"></img>
                        </a>
                        <span class="navbar-brand">  © PlantAYUDA 2022</span>
                    </div>
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Control Stock
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'insertarproductos' %}">Insertar Productos</a></li>
                            <li><a class="dropdown-item" href="{% url 'listadoproductos' %}">Listar Productos</a></li>
                        </ul>
                    </div>
                </footer>
            </div>
            <script src="{% static 'core/' %}js/bootstrap.bundle.min.js"></script>

            <script src="{% static 'core/' %}js/offcanvas.js"></script>
        </body>
    </html>
</html>

