{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<hr class="featurette-divider">
<body data-new-gr-c-s-check-loaded="14.1017.0" data-gr-ext-installed="">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <main class="container">
                    <div class="card text-center">
                        <div class="card-header">
                            <h1 class="fw-bold">Quienes Somos</h1>
                        </div>
                        <div class="card-body">
                            <div class="thumbnail">
                                <img width="233" height="100" src="imagen/logo_animado.gif" class="rounded mx-auto d-block" alt="" itemprop="image">
                            </div>
                            <p class="lead">Somos vecinos de la comunidad de siempreviva comenzamos a realizar la venta de productos para jardinería como maceteros, 
                            tierra de hojas, flores y arbustos, todo esto para ayudar a una fundación sin fines de lucro.</p>
                            <h1 class="fw-bold text-center lh-lg">CONTACTENOS</h1>
                            <p class="text-center"> Av. siempreviva 3000</p>
                            <p class="text-center"> Telefono +56 9 32568954</p>
                            <li><p> Instagram</p></li>
                            <li><p> Facebook</p></li>
                            <li><p> Whatsapp</p></li>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49912.52943930236!2d-103.50053400331174!3d25.544160039361657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x868fd9668b4177b3%3A0x9cce29cb332e4924!2sSiempre%20Viva!5e0!3m2!1ses-419!2scl!4v1652554192388!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="center"></iframe>
</body>
{% endblock contenido%}