{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<div class="Sidebar">
    <a href="{% url 'jardineria' %}">Jardineria</a>
    <a href="{% url 'tierrahoja' %}">Tierra</a>
    <a href="{% url 'arbustos' %}">Arbustos</a>
    <a class="active" href="{% url 'flores' %}">Flores</a>
    <a href="{% url 'macetero' %}">Maceteros</a>
</div>
<div class="content">
    <h2>NUESTRAS FLORES</h2>
    <table>
        <tr>
            <th class="imagen">
                <img src="{% static 'core/' %}imagen/flor1.jpg" alt="FLOR" height="250" width="250">
                <a href=""></a>
            </th>
            <th class="imagen">
                <img src="{% static 'core/' %}imagen/flor2.jpg" alt="FLOR" height="250" width="250">
                <a href=""></a>
            </th>
        </tr>
        <tr>
            <th class="imagen">
                <img src="{% static 'core/' %}imagen/flor3.jpg" alt="FLOR" height="250" width="250">
                <a href=""></a>
            </th>
            <th class="imagen">
                <img src="{% static 'core/' %}imagen/flor4.jpg" alt="FLOR" height="250" width="250">
                <a href=""></a>
            </th>
        </tr>
    </table>
</div>
{% endblock contenido%}