{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<header class="masthead">
</header>
    <!--CARRUSEL-->
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="bd-placeholder-img" width="100%" height="100%" src="{% static 'core/' %}imagen/RE4wtcl.jfif" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>
  
          <div class="container">
            <div class="carousel-caption">
              <h1>Bienvenid@ a PlantAYUDA!</h1>
              <p>Con tus compras ayudas a una fundación sin fines de lucro.</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'productos' %}">Ver Productos</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="bd-placeholder-img" width="100%" height="100%" src="{% static 'core/' %}imagen/planta.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>
  
          <div class="container">
            <div class="carousel-caption">
              <h1>¿Quienes somos?</h1>
              <p><a class="btn btn-lg btn-primary" href="{% url 'contacto' %}">¿Quieres conocernos?</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="bd-placeholder-img" width="100%" height="100%" src="{% static 'core/' %}imagen/articulos.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>
  
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Las mejores herramientas aqui</h1>
              <p><a class="btn btn-lg btn-primary" href="{% url 'jardineria' %}">Ver herramientas</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="container marketing">

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">¿Sabias Que?</h2>
          <p class="lead">Aunque el origen de los bonsáis se atribuye generalmente a los japoneses, su origen es realmente chino. Este arte del bonsái ya era practicado por los monjes y la clase noble de China en el año 600 después de Cristo.</p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'core/' %}imagen/arbusto1.jfif" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Todo para tu jardín</h2>
          <p class="lead">Nuestra tienda online PlantaAyuda es el lugar ideal donde encontrar todo para tener siempre perfecto tu jardín, con gran variedad de maquinaria de jardín como motosierras, cortadoras de pasto, tractores u orilladoras, para la organización existen bodegas de jardín en muchos tamaños, decoración de jardín con miles de opciones en figuras decorativas, fuentes de agua, maceteros, plantas artificiales o plantas naturales y otros insumos como árboles, flores, plantas, semillas y trampas, entre otros.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'core/' %}imagen/herramientas1.jpeg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

        </div>
      </div>

      <div class="fixed-action-btn">
        <a id="scrollTop" href="#top" class="">
            <img src="{% static 'core/' %}imagen/up-arrow.png" class="bi" width="50" height="50"></img>
    </div>
    </div>
  </main>
{% endblock contenido%}