.fondo {
    background-image: url("fondo.jpg");
    background-size: cover;
    position: static;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.imagen{
    opacity: 0.6;
   transition: 0.3s;
}
.imagen:hover{
    opacity: 1;
    transform: scale(1.5);

}
footer {
    background-color: #555;
    color: white;
    padding:2em 0;
}
.recommendation{
	margin-top:3em;
	border-bottom: 1px solid #eee;
  padding-bottom: 3em;
}
.recmnd-head h3 {
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 2em;
  font-family: 'Aladin', cursive;
  letter-spacing: 2px;
  color: #026466;
}
  /*filtro dropdown*/
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.btn-primary{
  color:rgb(0, 0, 0);
  background-color:#0d6efd;
  border-color:#0d6efd
}
.btn-primary:hover{
  color:rgb(0, 0, 0);
  background-color:#0b5ed7;
  border-color:#0a58ca
}
.btn-check:focus+.btn-primary,.btn-primary:focus{
  color:rgb(0, 0, 0);background-color:#0b5ed7;
  border-color:#0a58ca;
  box-shadow:0 0 0 .25rem rgba(49,132,253,.5)
}
.btn-secondary{
  color:#fff;
  background-color:#6c757d;
  border-color:#6c757d
}

.header-btn-l-13 .download-btn {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.4px;
  color: #FFFFFF;
  min-width: 152px;
  height: 40px;
  background: #333333;
  border-radius: 3px;
  margin-left: 15px;
}

@media (min-width: 480px) {
  .header-btns {
    margin-right: 15px;
  }
}

@media (min-width: 992px) {
  .header-btns {
    margin-right: 0;
  }
}

.top-contact-menu-wraper .header-btn {
  order: 3;
}

#principal {
  width: 100%;
  min-height: 500px;
  height: auto;
}

.footer.small{
  padding:4rem 1.5rem 1rem
}
.footer.small div.links{
  padding-bottom:1rem;
  border-bottom:1px solid #0a0a0a
}
.footer.small div.links li{
  display:inline-block
}
.footer.small div.links li:after{
  content:" · "
}
.footer.small div.links li:first-child a{
  margin-left:0
}
.footer.small div.links li:last-child:after{
  content:""
}
.footer.small div.links li:last-child a{
  margin-right:0
}
.footer.small div.links li a{
  color:#0a0a0a;
  margin:0 .5rem;
  font-size:.8rem;
  font-weight:500
}
.footer.small div.links li a:hover{
  border-bottom:1px solid #0a0a0a
}
.footer.small div.copyright{
  padding-top:1rem;
  color:#4a4a4a;
  font-size:.8rem
}
.footer.small div.copyright .links{
  display:inline-block
}
.footer.small div.copyright .links li{
  font-size:.7rem;
  display:inline-block
}
.footer.small div.copyright .links li:before{
  content:" / "
}

/*Grid*/

.col-xl-auto{
  position:relative;
  width:100%;
  min-height:1px;
  padding-right:15px;
  padding-left:640px
}
.col-l-auto{
  position:static;
  width:100%;
  min-height:1px;
  padding-right:15px;
  padding-left:700px
}
.col-auto{
  -webkit-box-flex:0;
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  width:auto;
  max-width:none}
.col-1{
  -webkit-box-flex:0;
  -ms-flex:0 0 8.333333%;
  flex:0 0 8.333333%;
  max-width:8.333333%
}
.col-2{
  -webkit-box-flex:0;
  -ms-flex:0 0 16.666667%;
  flex:0 0 16.666667%;
  max-width:16.666667%
}
.col-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.col-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
.col-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
.col-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.col-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
.col-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
.col-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
.col-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
.col-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
.col-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
