.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #312f2f;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: rgb(255, 245, 245);
    padding: 16px;
    text-decoration: none;
  }
  .sidebar h3,h5 {
    display: block;
    color: rgb(0, 0, 0);
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #aa2504;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }