/*filtro elementos*/

.filterDiv {
    float: left;
    background-color: #3f2a0ed8;
    color: #6d0000;
    width: 155px;
    line-height: 155px;
    text-align: center;
    margin: 2px;
    display: none;
    opacity: 0.6;
   transition: 0.3s;
  }
  .filterDiv:hover {opacity: 1;}
  
  .show {
    display: block;
  }
  
  